<!-- Site Footer-->
<footer class="site-footer">
  <div class="column text-center">
    <p class="text-sm mb-4">Need Support? Call<span class="text-primary">&nbsp;001 (917) 555-4836</span></p><a class="social-button sb-skype" href="#" data-toggle="tooltip" data-placement="top" title="Skype"><i class="socicon-skype"></i></a><a class="social-button sb-facebook" href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="socicon-facebook"></i></a><a class="social-button sb-google-plus" href="#" data-toggle="tooltip" data-placement="top" title="Google +"><i class="socicon-googleplus"></i></a><a class="social-button sb-twitter" href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="socicon-twitter"></i></a><a class="social-button sb-instagram" href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="socicon-instagram"></i></a>
    <p class="text-xxs text-muted mb-0 mt-3">© All rights reserved. Made with <i class='material-icons favorite text-danger'></i> by rokaux</p>
  </div>
  <div class="column">
    <h3 class="widget-title text-center">Subscription<small>To receive latest offers and discounts from the shop.</small></h3>
    <form class="subscribe-form input-group" action="//rokaux.us12.list-manage.com/subscribe/post?u=c7103e2c981361a6639545bd5&amp;id=1194bb7544" method="post" target="_blank" novalidate><span class="input-group-btn">
        <button type="submit"><i class="material-icons send"></i></button></span>
      <input class="form-control" type="email" name="EMAIL" placeholder="Your e-mail">
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_c7103e2c981361a6639545bd5_1194bb7544" tabindex="-1" value>
      </div>
    </form>
  </div>
  <div class="column">
    <h3 class="widget-title text-center">Payment Methods<small>We support one of the following payment methods.</small></h3>
    <div class="footer-cards"><%= image_tag "unishop/cards.png", alt: "Payment Methods" %>
    </div>
  </div>
</footer>

<!-- Back To Top Button--><a class="scroll-to-top-btn" href="#"><i class="material-icons trending_flat"></i></a>
<!-- Backdrop-->
<div class="site-backdrop"></div>
<!-- JavaScript (jQuery) libraries, plugins and custom scripts-->
    <!-- <script src="<%= javascript_path '/unishop/modernizr.min.js' %>"></script> -->
<!-- <script src="<%= javascript_path '/unishop/vendor.min.js'%>"></script> -->
<!-- <script src="<%= javascript_path '/unishop/scripts.min.js'%>"></script> -->
